.App {
  text-align: center;
  margin: 20px;
}

form {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 20px auto;
}

label {
  margin-top: 10px;
}

button {
  margin-top: 10px;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.entry {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
}
